# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json

# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
  - package-ecosystem: devcontainers
    assignees:
      - "andykenward"
    directory: "/"
    schedule:
      interval: weekly
      time: "12:00"
      timezone: "Europe/London"
    cooldown:
      default-days: 5
  - package-ecosystem: docker
    assignees:
      - "andykenward"
    directory: "/"
    schedule:
      interval: weekly
      time: "12:00"
      timezone: "Europe/London"
    cooldown:
      default-days: 5
  - package-ecosystem: github-actions
    assignees:
      - "andykenward"
    directory: /
    schedule:
      interval: weekly
      time: "12:00"
      timezone: "Europe/London"
    cooldown:
      default-days: 5
  - package-ecosystem: npm
    assignees:
      - "andykenward"
    directories:
      - "/"
    versioning-strategy: increase
    schedule:
      interval: weekly
      time: "12:00"
      timezone: "Europe/London"
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      astro:
        patterns:
          - "astro"
          - "@astrojs/*"
      commitlint:
        patterns:
          - "@commitlint/*"
      eslint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint"
          - "eslint-plugin-*"
      fontsource:
        patterns:
          - "@fontsource/*"
      prettier:
        patterns:
          - "prettier"
          - "prettier-plugin-*"
          - "@ianvs/prettier-plugin-sort-imports"
      tailwind:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"
