---
import { EMAIL } from "../config";
---

<footer class="py-8 text-center text-sm [text-wrap:balance] text-gray-500">
  <p>Unlike Ltd is a company registered in England and Wales (No. 14026435).</p>
  <a
    class="underline decoration-transparent decoration-2 underline-offset-4 transition-[text-decoration-color] duration-150 ease-linear hover:decoration-current focus-visible:decoration-current"
    href=`mailto:${EMAIL}`>{EMAIL}</a
  >
</footer>
