# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Delete

on:
  pull_request:
    types:
      - closed
    branches:
      - main
jobs:
  delete:
    permissions:
      actions: read # Only required for private GitHub Repo
      contents: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: "Deploy deletion from Cloudflare Pages"
        uses: andykenward/github-actions-cloudflare-pages/delete@7a64afb7bc3aff33ce28eb70bdc9d89bdde24728 #v3.0.0
        with:
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
