# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Delete

on:
  pull_request:
    types:
      - closed
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to run action against"
        type: environment
        required: false
jobs:
  delete:
    permissions:
      actions: read
      contents: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: "Deploy deletion from Cloudflare Pages"
        uses: andykenward/github-actions-cloudflare-pages/delete@d1f6e64c3fba8a2e4937b4a920ead2193e903cd0 #v3.2.0
        with:
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
