# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    permissions:
      actions: read # Only required for private GitHub Repo
      contents: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      url: ${{ steps.deploy_cloudflare.outputs.url}}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version-file: "package.json"
          cache: "pnpm"
      - name: Cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: |
            ~/.cache/
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml', '**/eslint.config.js', '**/prettier.config.js', '**/www/tsconfig.json') }}
      - run: pnpm install
      - run: pnpm run lint --cache-strategy content
      - run: pnpm run build
        working-directory: ./www
      - name: "Deploy to Cloudflare Pages"
        id: deploy_cloudflare
        uses: andykenward/github-actions-cloudflare-pages@d1f6e64c3fba8a2e4937b4a920ead2193e903cd0 #v3.2.0
        with:
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          cloudflare-account-id: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          cloudflare-project-name: ${{ vars.CLOUDFLARE_PROJECT_NAME }}
          directory: dist
          working-directory: www
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-environment: ${{ (github.ref == 'refs/heads/main' && 'production') || 'preview' }}
      - name: "Deploy deletion from Cloudflare Pages"
        uses: andykenward/github-actions-cloudflare-pages/delete@d1f6e64c3fba8a2e4937b4a920ead2193e903cd0 #v3.2.0
        if: github.ref == 'refs/heads/main'
        with:
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          keep-latest: 2
  playwright:
    needs:
      - deploy
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
      options: --user 1001
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version-file: "package.json"
          cache: "pnpm"
      - run: pnpm install
      - name: Run Playwright tests
        run: pnpm exec playwright test
        env:
          CLOUDFLARE_ACCESS_CLIENT_ID: ${{ secrets.CLOUDFLARE_ACCESS_CLIENT_ID }}
          CLOUDFLARE_ACCESS_CLIENT_SECRET: ${{ secrets.CLOUDFLARE_ACCESS_CLIENT_SECRET }}
          PLAYWRIGHT_TEST_BASE_URL: ${{ needs.deploy.outputs.url }}
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
